@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Poppins:wght@600&display=swap');

.chartOuter{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 1.9%;
}

.chartInner{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    width: 100%;
}

.filterSection{
    margin-bottom: 10px;
    display: flex;
    width:  100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orients', sans-serif;
    font-size: 12px;
}

.filterSection p{
    margin-left: 2%;
}


.filterSection select{
    margin-right: 2%;
    width: 54px;
    height: 18px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.chartSection{
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 15px;
    color: black;
}