@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.expenseOuter{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.expenseInner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.sectionOneOuter{
    width: 80%;
    background-color: #CADEEC;
    height: 60%;
}

.sectionOneInner{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}



.sectionTwoOuter{
    width: 20%;
    background-color: #1B98F5;
    height: 60%;
    justify-content: flex-end;
}



.date{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.date .MMYY{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    color: #323232;
    width: 100%;
    height: 16px;
}

.date .MMYY p{
    padding: 6px;
}

.sectionOneInner .title{
    width: 70%;
    font-weight: 600;
    font-size: 16;
}

.date .DD{
    font-size: 18px;
    font-weight: 600;
}

.sectionTwoInner{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.sectionTwoInner p{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.sectionTwoInner p .dollarSign{
    font-size: 12px;
    padding-right: 2px;
}


