.webApp{
  display: flex;
  flex-direction: column;
  background-color: #222;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.webApp .debugButton{
  margin-bottom: 10px;
  width: 60px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
  transition: 300ms;
}

.webApp .debugButton:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid #fff;
}